
@keyframes runLeft {
    0%   { margin-left:0px;}
    100% { margin-left:800px;}
  }

body{
    background-color:rgb(62, 5, 61);
    color:rgb(128, 202, 215);
    height:350vh;
}
.navContainer{
    border:solid lemonchiffon;
    border-width:.2px;
    padding:1em;
    display:flex;

}

.navP1{
    margin:1em;
    width:22%;
    border:solid rgb(200, 187, 66);
    font-size:12px;
    padding:8px;
    border-radius:22px;
    border-width:.2px;
    text-align:center;
    text-decoration: brown;
    
}
.navP1:hover{
    margin:1em;
    width:22%;
    border:solid lemonchiffon;
    font-size:12px;
    padding:8px;
    border-radius:22px;
    background-color: lemonchiffon;
    color:rgb(185, 162, 162);
    border-width:.2px;
    text-align:center;
}
.img1{
    border:solid lemonchiffon;
    border-width:.2px;
    width: 100%;
    }
.titleContainer{
    border:solid salmon;
    border-width:.2px;
    height:auto;
    margin:2em;
}
.title1{
    text-align:center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.detailsContainer{
    border:solid white;
    margin:1em;
    padding:1em;
    text-align:center;
}
.myPic{
    border:double salmon;
    height:120px;
    border-radius:12px;
}
/*.pika{
    height:90px;
    animation: runLeft ease-out infinite 8s;
}*/


body{background-color: whitesmoke;}
     	h2{text-decoration: underline;
			text-align: center;
			font-size: 250%;
		   color: royalblue;}
		h3{text-indent:5px ;
		   font-size:300% ;
		   color:rosybrown ;}
	p{font-size: 200%; color: darkgreen;}
	#Patterns{color: royalblue;}
	.flist{text-decoration: underline;} 
	#t1{color: greenyellow; text-decoration: underline;}
	.t2{color: green; text-decoration: underline;}
	#pg1{font-style: italic; color: brown;}
	.pg2{font-style: oblique; color: royalblue;}
	      #d1{border: solid lightblue;}
		   #d2{border: solid lightpink;}
		   #d3{border: solid lightgreen;}
		   #d4{border: solid orangered;}
		  #d5{border: solid blanchedalmond;}
		  #d1,#d2,#d3,#d4,#d5{border: dashed;}
		  a{font-size: 30px;}
		  li{font-size: 25px;}